html, body {
	background-color:#ccc;
}

*, html, body {
    font-family: 'Monaco','Lucida Console',sans-serif;
}

h4 {
    margin:0 0 10px 0;
    font-size:3em;
}

#testing-area {
	font-size:1em;
    width: 400px;
    height: 400px;
}
