html, body {
    height:100%;
}

*, html, body {
    font-family: 'Monaco','Lucida Console',sans-serif;
}

h4 {
    margin:0 0 10px 0;
    font-size:18px;
}

#testing-area {
    width: 400px;
    height: 800px;
}
